#Python
*.pyc
__pycache__/
# venv/
*.egg-info/
dist/
build/

# Node.js
node_modules/

# IDE-specific
.idea/
.vscode/
*.sublime-workspace

# Jupyter Notebook
.ipynb_checkpoints/

# Compiled files
*.pyc
*.pyo
*.pyd
*.so
*.dll
*.exe

# Logs and databases
*.log
*.sqlite3

# Environment
.env

# Miscellaneous
.DS_Store
Thumbs.db
