<!DOCTYPE html>
<html>
<head>
    <title>Project Plant | Detail</title>
    <style>

        
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    {% block content %}
        {% include 'components/header.html' %}


        <main>

            {% include 'components/buttons/backButton.html' %}
            <!-- toon plant detail -->

            <div class="cardDetail">
              <div>
                <h2>{{my_plant.plant.name}}</h2>
                <p><span class="b">locatie:</span> {{ my_plant.location}}</p>
                <p><span class="b">hoeveelheid water nodig:</span> {{my_plant.plant.watering}}</p>
                {% if my_plant.automatic_watering %}
                    <p><span class="b">automatisch wateren: </span>ja</p>
                {% else %}
                    <p><span class="b">automatisch wateren: </span>nee</p>
                {% endif %}
                <p><span class="b">laatste waterbeurt: </span>{{my_plant.last_watered.strftime('%d/%m/%Y - %H:%M')}}</p>
                <p><span class="b">plant aangemaakt op:</span> {{my_plant.created_at.strftime('%d/%m/%Y')}}</p>
              </div>
    
              <div class="druppelCard" id="plant{{ my_plant.id }}" data-percent="50"><!-- dataset moet naar procent veranderen dat de sensor aangeeft-->
                <p>50%</p>
                <div class="drop" > 
                    <div class="fill" id="{{my_plant.id}}"></div>
                </div>  
              </div>
            </div>
        </main>

        {% include 'components/footer.html' %}
    {% endblock %}
    
</body>
<script src="{{ url_for('static', filename='dashboard.js') }}"></script>

</html>

